body {
    font-family: Roboto;
    margin: 0;
}
.main-divs {
    width: auto;
    outline: 1px solid red;
}
.one {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    height: 500px;
}

.two {
    height: 450px;
}

.three {
    height: 400px;
    background-color: #e5e7eb;
}

.four {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.five {
    height: 100px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

img {
    height: 280px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.left-section {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links div {
    font-size: 18px;
    color: #efe7eb;
}

.header-links, .header {
    padding-top: 3%;
    gap: 20px;
}

.hero-text div {
   display: flex;
   flex-direction: column;
}

.hero-text {
    display: flex;
    align-items: center;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: 700;
}





.container-blue {
    height: 40%;
    width: 70%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo {
    margin-right: 100px;
}

.demo div {
    font-size: 26px;
    font-weight: 700;
}

.demo p {
    margin: 0;
    font-size: 20px;
}

.bottomsignup {
    padding-left : 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    border-radius: 10px;
}