* {
    font-family: Roboto;
}
.main-divs {
    height: 500px;
    width: auto;
    outline: 2px solid red;

}
img {
    height: 280px;
    width: auto;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links div {
    font-size: 18px;
    color: #efe7eb;
}

/* .ribbon-top {
    display: flex;
    justify-content: space-between;
    padding: 13px;
} */
/* 
.header-links {
    display: flex;
    gap: 23px;
    display: flex;
} */


/* .lower-section  {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
} */





.left-section p {
    font-size: 24px;
    color: f9faf8;
    
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    weight: 900;
}

button {
    color: white;
    background-color: #3882f6;
}